﻿
@model RidgeToolReportingPortalModel.Employee

<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title">
            <h4 class="pull-left color-white centered-content">
                @if (@Model.EmployeeID == 0)
                {
                    <text>Add Employee</text>
                }
                else
                {
                    <text>Edit Employee</text>
}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body">

        <form id="frmEmployee" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
            @Html.HiddenFor(model => model.EmployeeID, new { @id = "EmployeeId" })
 
            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="FirstName">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;First Name
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.TextBoxFor(model => model.Firstname, new { @id = "Firstname", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="LastName">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Middle Name
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.TextBoxFor(model => model.Middlename, new { @id = "Middlename", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="LastName">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Last Name
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.TextBoxFor(model => model.Lastname, new { @id = "Lastname", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="Username">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Date Hired
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.TextBoxFor(model => model.DateHired, "{0:yyyy-MM-dd}", new { type = "date", @id = "dateHired", @class = "form-control ddlFontColorBlack", @maxlength = "", @autocomplete = "off" })
                </div>
            </div>
            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label for="Is Resigned">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Is Resigned
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.CheckBoxFor(model => model.IsResigned, new { @id = "isResigned", @maxlength = "", @autocomplete = "off" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label class="pull-left" for="RoleID">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Position
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.DropDownListFor(model => model.PositionID, Model.PositionList, "- Select -", new { @id = "cboPosition", data_val = false, @class = "form-control ddlFontColorBlack", @name = "PositionID" })
                </div>
            </div>

            <div class="row form-group centered-content">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <label class="pull-left" for="Status">
                        <small style="font-weight: bolder; color: red">*</small>&nbsp;Supervisor
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    @Html.DropDownListFor(model => model.SupervisorID, Model.SupervisorList, "- Select -", new { @id = "cboSupervisor", data_val = false, @class = "form-control ddlFontColorBlack", @name = "SupervisorID" })
                </div>
            </div>
            <div class="row form-group centered-content">
                <div id="validationContainer1">
                    <p id="validationMessage" class="margin-zero text-center color-white"></p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button id="btnSave" class="btn btn-primary" style="width:45%">Save</button>
            <button id="btnUploadReset" class="btn btn-danger" style="width:45%"> Reset</button>
        </div>
    </div>
</div>
<script src="~/Scripts/page/employee.js"></script>