﻿
@{
    ViewBag.Title = "Index";
}

<div class="cm-row">
    <div class="title-copy">
        <h2>Employee List</h2>
        <button id="btnAddEmployee" class="btn btn-primary btn-arrow" data-toggle="modal" data-target="#exampleModal">
            <span><span class="text-wrapper">Add</span></span>
        </button>
    </div>
    <div id="DataTable-Sample">

        <div class="C027-table">
            <div class="padded-container">
                <div class="table-container">
                    <table id="employeeTable" class="display" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:20%;">Full Name</th>
                                <th style="width:15%;">Position</th>
                                <th style="width:20%;">Supervisor</th>
                                <th style="width:15%;">Date Hired</th>
                                <th style="width:15%;">Is Resigned</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="width:20%;">Full Name</th>
                                <th style="width:15%;">Position</th>
                                <th style="width:20%;">Supervisor</th>
                                <th style="width:15%;">Date Hired</th>
                                <th style="width:15%;">Is Resigned</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="error"></div>
<div id="addModal" class="modal-container  modal-container-sm">
</div>

<script src="~/Scripts/page/employee.js"></script>