﻿@{
    RidgeToolReportingPortalModel.Custom2IPrincipal customUser = User as RidgeToolReportingPortalModel.Custom2IPrincipal;
}

<div id="pageContent"></div>
<script src="~/Scripts/page/login.js"></script>

<script>
	var landingPageURL = "@Url.Content("~/")";
	var loginURL = "@Url.Content("~/Login/SignIn")";
	var isPageBeingRefreshed = false;

	$(window).on('beforeunload', function () {
		isPageBeingRefreshed = true;
	});

	loadSignIn();

	function loadSignIn() {
		$.ajax({
			url: loginURL,
			success: function (data) {
                document.title = "Sign In - MVC Template";
				$('#pageContent').html(data);
			},
			error: function () {
				if (!isPageBeingRefreshed) {
					initReusableModal("Error! ", 'Failed to get partial.', false, false, undefined, undefined, undefined);
				}
			}
		});
	}
</script>