﻿@model RidgeToolReportingPortalModel.Login
@{
    ViewBag.Title = "Sign In";
    Layout = "";
    RidgeToolReportingPortalModel.Custom2IPrincipal customUser = User as RidgeToolReportingPortalModel.Custom2IPrincipal;
}

<div class="main-container">
    <div class="cm-row">
        <div class="padded-container">
            <h2 class="font1 margin-btm-20">Sign in your Emerson Account</h2>
            <p class="font25 margin-btm-40">Enter your details below</p>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin" }))
            {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="container">
                        <div class="row" id="login-container">
                            <div id="validationFail" class="padding-md alert-danger">
                                <span id="validateGeneric" class="display-block text-center color-red"></span>
                                <span id="validateIncomplete" class="display-block text-center color-red">Incomplete Input</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <label for="Username" class="display-block font3">Username</label>
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control material-input font87", @id = "Username" })
                                <div class="margin-btm-20"></div>
                                <label for="Password" class="display-block font3">Password</label>                           
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control material-input font87", @id = "Password", @value = Model.Password })
                                <div class="margin-btm-20"></div>
                                <a href="#" class="pull-right color-2" onclick="loadRegistration()"><small>Register Emerson Account Here</small></a>
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "display-inline" })
                                @Html.LabelFor(m => m.RememberMe)
                                

                                <div class="cta-buttons ">
                                    <!-- This link is currently not providing a DDX tag, because it's always called by CMTeasable.asCTA.ftl-->
                                    <a id="btnLogin" class="btn btn-primary btn-arrow margin-top-40 font16">
                                        <span>
                                            <span class="text-wrapper">Login</span>
                                        </span>
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                }
</div>
    </div>
</div>
<script src="~/Scripts/page/login.js"></script>
