﻿<div id="HERO-SECTION" class="component-main-container">

    <!-- H002 -->
    <div class="cm-row">
        <div class="title-copy">
            <h2>H002</h2>
            <button class="btn btn-primary btn-arrow" id="btnProcess">
                <span><span class="text-wrapper">Process</span></span>
            </button>
        </div>
    </div>

</div>
<script src="~/Scripts/page/ppt.js"></script>