﻿
@{
    ViewBag.Title = "Index";
}

<div id="HERO-SECTION" class="component-main-container">

    <!-- H002 -->
    <div class="cm-row">
        <div class="title-copy">
            <div class="cta-buttons">
                <input type="file" id="fileUpload" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <a class="btn btn-primary btn-download" href="#">
                    <span>
                        <span class="text-wrapper">UPLOAD EXCEL FILE<span class="arrow"></span></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/page/excel.js"></script>