﻿@{
    RidgeToolReportingPortalModel.Custom2IPrincipal customUser = User as RidgeToolReportingPortalModel.Custom2IPrincipal;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - Ridge Tool Reporting Portal</title>
    <link rel="icon" type="image/ico" href="~/Content/images/favicon.ico">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    @*CSS Reference*@
    <link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"  type="text/css" />
    <link href="~/Scripts/plugin/swiper-master/dist/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugin/DataTables-1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet"  type="text/css" />*@
    <link href="~/Content/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/en-us.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/css/stylesheet.css" rel="stylesheet" type="text/css" />

    @*js Reference*@
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/core/components.js"></script>
    <script src="~/Scripts/core/default.js"></script>
    <script src="~/Scripts/plugin/swiper-master/dist/swiper.min.js"></script>
    <script src="~/Scripts/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/plugin/DataTables-1.10.15/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <div id="main-wrapper" style="overflow-x: hidden;">
        <div class="cm-row">
            <header id="cm-header" class="global-header navbar navbar-fixed-top">
                <nav class="utility-nav">
                    <div class="padded-container">
                        <ul id="utility-nav-sign" class="horizontal-list"></ul>
                    </div>
                </nav>
                <nav class="main-header">
                    <div class="main-header-content">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand emerson-logo-box">
                                <a href="/en-us" classbox="" title="" class="emerson-logo__link">
                                    <div class="">
                                        <img class="cm-image emerson-logo__image" src="~/Content/images/emerson-logo-data-404.png" alt="Image of Emerson Logo" title="">
                                    </div>
                                    <span class="cm-visuallyhidden"></span>
                                </a>
                            </div>
                        </div>
                        <ul class="main-nav list-unstyled" id="main-nav">
                            <li>
                                <a class="" href="#">Hero Components</a>
                                <div class="sub-nav commercial-sub-nav collapse">
                                    <div class="mobile-top-link">
                                        <button type="button" class="back btn" aria-label="back"></button>
                                        <a class="" href="#">Hero Components</a>
                                    </div>
                                    <div class="products">
                                        <h3>Hero Components</h3>
                                        <ul class="list-unstyled">
                                            <li><a class="" href="#H002">H002</a></li>
                                            <li><a class="" href="#H002-Hero">H002 Carousel</a></li>
                                            <li><a class="" href="#H003">H003</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="" href="#">VN Components</a>
                                <div class="sub-nav commercial-sub-nav collapse">
                                    <div class="mobile-top-link">
                                        <button type="button" class="back btn" aria-label="back"></button>
                                        <a class="" href="#">VN</a>
                                    </div>
                                    <div class="products">
                                        <h3>VN</h3>
                                        <ul class="list-unstyled">
                                            <li><a class="" href="#VN001">VN001</a></li>
                                            <li><a class="" href="#VN002">VN002</a></li>
                                            <li><a class="" href="#VN003">VN003</a></li>
                                            <li><a class="" href="#VN014">VN014</a></li>
                                            <li><a class="" href="#VN015">VN015</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="" href="#">C Components</a>
                                <div class="sub-nav commercial-sub-nav collapse">
                                    <div class="mobile-top-link">
                                        <button type="button" class="back btn" aria-label="back"></button>
                                        <a class="" href="#">C Components</a>
                                    </div>
                                    <div class="products">
                                        <h3>C Components</h3>
                                        <ul class="list-unstyled">
                                            <li><a class="" href="#C010">C010</a></li>
                                            <li><a class="" href="#C011">C011</a></li>
                                            <li><a class="" href="#C012">C012</a></li>
                                            <li><a class="" href="#C015">C015</a></li>
                                            <li><a class="" href="#C016">C016</a></li>
                                            <li><a class="" href="#C018">C018</a></li>
                                            <li><a class="" href="#C025">C025</a></li>
                                            <li><a class="" href="#C026">C026</a></li>
                                            <li><a class="" href="#C027">C027</a></li>
                                            <li><a class="" href="#C031">C031</a></li>
                                            <li><a class="" href="#C033">C033</a></li>
                                            <li><a class="" href="#C034">C034</a></li>
                                            <li><a class="" href="#C035">C035</a></li>
                                            <li><a class="" href="#C044">C044</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="" href="#">S Components</a>
                                <div class="sub-nav commercial-sub-nav collapse">
                                    <div class="mobile-top-link">
                                        <button type="button" class="back btn" aria-label="back"></button>
                                        <a class="" href="#">S Components</a>
                                    </div>
                                    <div class="products">
                                        <h3>S Components</h3>
                                        <ul class="list-unstyled">
                                            <li><a class="" href="#SE044">SE044</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="" href="#">Elements</a>
                                <div class="sub-nav commercial-sub-nav collapse">
                                    <div class="mobile-top-link">
                                        <button type="button" class="back btn" aria-label="back"></button>
                                        <a class="" href="#">Elements</a>
                                    </div>
                                    <div class="products">
                                        <h3>Elements</h3>
                                        <ul class="list-unstyled">
                                            <li><a class="" href="#Buttons">Buttons</a></li>
                                            <li><a class="" href="#Select">Select</a></li>
                                            <li><a class="" href="#Breadcrumb">Breadcrumb</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>


        <main id="main">
            @*-- Lazy Loading --*@
            <div class="" style="visibility:hidden" id="spinner-background">
                <div class="" id="lazyload" data-options="large" role="progressbar" aria-valuetext="Loading…"></div>
                <p class="loading-text">Loading</p>
            </div>


            @RenderBody()


        </main>

        
        
    </div>

    <!-- create dynamic js for the modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalBody">
                
            </div>
        </div>
    </div>

    <footer>
        <div class="padded-container">
            <h3 class="font15 margin-btm-25">Emerson. Consider It Solved.™</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6" role="navigation">
                    <div class="font89 e-copyright">©2017 Emerson Electric Co. All rights reserved.</div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <ul class="sub-nav horizontal-list font89" role="navigation">
                        <li><a class="" href="http://www.emerson.com/en-us/privacy-notice" target="_blank">Privacy Notice</a></li>
                        <li><a class="" href="http://www.emerson.com/en-us/sitemap" target="_blank">Sitemap</a></li>
                        <li><a class="" href="http://www.emerson.com/en-us/terms-of-use" target="_blank">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript">
        function copy_el(component) {
            var Component = $("#" + component).html();
            $('#copyComponent').html("Copy " + component);
            $('#codeGenerated').val(Component);


            //window.prompt("Copy to clipboard: Ctrl+C, Enter", Component);
        }
    </script>
    <!-- Swiper JS -->
    <!-- Initialize Swiper -->
    <script>
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      centeredSlides: true,
      slidesPerView: 'auto',
      touchRatio: 0.2,
      slideToClickedSlide: true,
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;

    </script>
    <!-- DATA Tables-->
    <script>
        $('#DataTable, #DataTableTypography').DataTable({
            "stripeClasses": []
        });
    </script>
   @* <script src="~/Scripts/core/copyClipboard-el.js"></script>*@
</body>
</html>

