﻿@model RidgeToolReportingPortalModel.User

<div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h4 class="pull-left color-white centered-content">
                    @if (@Model.UserID == 0)
                {
                        <text>Add User</text>
                    }
                    else
                    {
                        <text>Edit User</text>
                    }
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
           </div>
        </div>
        <div class="modal-body">
  
                <form id="frmUser" class="form-horizontal" ondrag="return false;" ondragstart="return false;">
                        @Html.HiddenFor(model => model.UserID, new { @id = "UserId" })
                
                        <div class="row form-group centered-content">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <label class="pull-left" for="EmployeeID">
                                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Employee
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                @Html.DropDownListFor(model => model.EmployeeID, Model.EmployeeList, "- Select -", new { @id = "cboEmployee", data_val = false, @class = "form-control ddlFontColorBlack", @name = "RoleID" })
                            </div>
                        </div>

                        <div class="row form-group centered-content">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <label for="Username">
                                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Username
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                @Html.TextBoxFor(model => model.Username, new { @id = "Username", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="row form-group centered-content">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <label for="EmailAddress">
                                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Email Address
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                @Html.TextBoxFor(model => model.EmailAddress, new { @id = "EmailAddress", @class = "form-control", @maxlength = "", @autocomplete = "off" })
                            </div>
                        </div>

                        <div class="row form-group centered-content">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <label class="pull-left" for="RoleID">
                                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Role
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                @Html.DropDownListFor(model => model.RoleID, Model.RoleList, "- Select -", new { @id = "cboRole", data_val = false, @class = "form-control ddlFontColorBlack", @name = "RoleID" })
                            </div>
                        </div>

                        <div class="row form-group centered-content">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                <label class="pull-left" for="Status">
                                    <small style="font-weight: bolder; color: red">*</small>&nbsp;Status
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                                @Html.DropDownListFor(model => model.Status, Model.StatusList, "- Select -", new { @id = "cboStatus", data_val = false, @class = "form-control ddlFontColorBlack", @name = "Status" })
                            </div>
                        </div>
                    <div class="row form-group centered-content">
                        <div id="validationContainer1">
                            <p id="validationMessage" class="margin-zero text-center"></p>
                        </div>
                    </div> 
                </form>
        </div>
        <div class="modal-footer">
            <div class="form-group">
            <button id="btnSave" class="btn btn-primary"style="width:45%" >Save</button>
            <button id="btnUploadReset" class="btn btn-danger" style="width:45%"> Reset</button>
            </div>
        </div>
    </div>
<script src="~/Scripts/page/user.js"></script>