﻿@model int
@{
    ViewBag.Title = "User";
}
<a id="btnAdd" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add</a>
<main id="wrap" class="wrap bg-white">
    <div id="content">     
        
        <div class="container-fullwidth inner-padding">
            <div class="col-xs-12 col-sm-push-2 col-sm-8 col-md-push-4 col-md-4">
                
            </div>
            <div id="cbFilter" class="display-inline pull-right color-white display-center-xs">
                <label>
                    Filter by:
                        <select id="cboStatus" class="display-block">
                        <option value="1">Active</option>    
                        <option value="0">Inactive</option>  
                        <option value="2">Admin</option>    
                        <option value="3">User</option>  
                    </select>                                
                </label>
            </div>
            <table id="myDataTable" class="table table-hover cursor-pointer cell-border display" cellspacing="0" style="width:100%">
                <thead>
                    <tr style="text-align: left">
                        <th style="width:35%;">Full Name</th>
                        <th style="width:30%;">Email Address</th>
                        <th style="width:15%;">Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="dataTable-footer"></div>
        </div>
    </div>
</main>
<div id="addModal" class="modal-container  modal-container-sm">
</div>
<script type="text/javascript">
    var showActive = '@Model';
</script>
<script src="~/Resources/js/pages/user2.js"></script>
