﻿@{
    ViewBag.Title = "User";
}
  <div class="cm-row">
    <div class="title-copy">
        <h2>User List</h2>
        <button  id="btnAdd" class="btn btn-primary btn-arrow"data-toggle="modal" data-target="#exampleModal">
            <span><span class="text-wrapper">Add</span></span>
        </button>
    </div>
    <div id="DataTable-Sample">

        <div class="C027-table">
            <div class="padded-container">
                <div class="table-container">
                    <div>
                        <label>
                            Employee Status:
                            <select id="empStatus">
                                <option value="0">All</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </label>
                    <table id="userTable" class="display" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:35%;">Full Name</th>
                                <th style="width:30%;">Email Address</th>
                                <th style="width:15%;">Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="width:35%;">Full Name</th>
                                <th style="width:30%;">Email Address</th>
                                <th style="width:15%;">Role</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/page/user.js"></script>